@media (width <= 815px) {
    .content {
        flex-direction: column;
    }

    .content,   
    .content .reviewers,
    .content .cards,
    .content .cards .card {
        height: auto !important;
        width: auto !important;
        margin: 20px !important;
    }

    .content .cards .card-right {
        margin-left: 16px !important;
    }
}